body{
    display: flex;
    background-color: grey;
    margin: 0px;
}

nav{
    background-color: white;
    width: 100vw;
    height: 30px;
    margin: 0%;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
}

.colorTxt{
    text-align: center;
}

h2{
    position: absolute;
    top: 20%;
    left: 35%;
    font-size: 40px;
}


#btn{
    position: absolute;
    top: 50%;
    left: 44%;
    font-size: 40px;
}
